@page
@model WebbshoppenSS.Pages.ProductCategories.OldProductsModel
@{
}


<div class="row">


    @foreach (var item in Model.GetOnlyOldProducts)
    {
        <div class="card" style="width:20em; margin:10px;">
            <a asp-page="">
                <img src="~/img/@item.ImgUrl" class="card-img-top" style="width:20rem; height:30rem;">
            </a>

            <div class="card-body">
                <h3 class="card-title">@item.Name</h3>
                <h5 class="card-title">Unit: @item.ProductType</h5>
                @foreach (var category in item.ProductCategory)
                {
                     <h5 class="card-title">Type: @category</h5>
                }
                <h5 class="card-text"> Price: @item.Price&euro; (SEK: @(item.Price * 9.5))</h5>
                <p class="card-text">In Stock: @item.Quanity</p>
            </div>
            <div class="card-footer">

                <small>
                    <a class="btn btn-info" asp-page="">Details</a>
                    <a class="btn btn-success" asp-page="">Add to Card</a>
                </small>
            </div>
            <div class="card"></div>
        </div>
    }
</div>
