@page
@model WebbshoppenSS.Pages.CartModel
@{
    double sum = 0;
    //int dataCount = 0;
    double shipping = 0;
    int shippingOne = 29;
    int shippingTwo = 99;
}
<h1 class="text-center">Shopping Cart</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
        </tr>

    </thead>

    @foreach (var item in Model.GetShoppingCarts)
    {


        <tbody>
            <tr>
                <th scope="row">@item.ProductID </th>
                <td>@item.Name</td>
                <td>@item.ProductType</td>
                <td>EUR: @item.Price / SEK: @(item.PriceSek = item.Price * 9.5 )</td>
                <td>Amount: @item.Amount</td>
                <td>
                    <form method="post">
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" asp-page-handler="Add" asp-route-id="@item.ProductID">Add</button>
                            <button class="btn btn-primary" type="submit" asp-page-handler="Remove" asp-route-id="@item.ProductID">Remove</button>
                        </div>
                    </form>
                </td>

            </tr>
        </tbody>
        sum += item.Price;
    }
</table>

<div class="col-6">
    <h1>YOUR TOTAL: @sum</h1>
</div>

<form method="post">

    <div class="form-check">
        <label for="validationDefault01" class="form-label">First Name</label>
        <input type="text" asp-for="@Model.FirstName" class="form-control" value="" required placeholder="First Name">
    </div>
    <div class="form-check">
        <label for="validationDefault01" class="form-label">Last Name</label>
        <input type="text" asp-for="@Model.LastName" class="form-control" value="" required placeholder="Last Name">
    </div>

    <div class="form-check">
        <label for="validationDefault01" class="form-label">Postal Code</label>
        <input type="text" asp-for="@Model.PostalCode" class="form-control" value="" required placeholder="Postal Code">
    </div>

    <div class="form-check">
        <label for="validationDefault01" class="form-label">Street Address</label>
        <input type="text" asp-for="@Model.Street" class="form-control" value="" required placeholder="Street">
    </div>

    <div class="form-check">
        <label for="validationDefault01" class="form-label">City</label>
        <input type="text" asp-for="@Model.City" class="form-control" value="" required placeholder="City">
    </div>
    <br />
    <input type="radio" name="shipping" value="@shippingOne" checked="checked"/>@shippingOne
    <br />

    <input type="radio" asp-for="Shipping" name="shipping" value="@shippingTwo" />@shippingTwo
    <br />

    <div class="mb-3">
        <button class="btn btn-primary" type="submit" asp-page-handler="AdressShipping">Accept</button>
    </div>
</form>

    <div class="col-6">
        <div class="row">
            <h1>Price with shipping: @(sum + Model.Shipping)</h1>
            <h3>Without VAT: @((sum + Model.Shipping) * 0.8)</h3>
        </div>

    </div>
    <form method="post">
        <div class="col-4">
            <div class="row">
                <h3>Payment Method:</h3>
            </div>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked="checked">
            <label class="form-check-label" for="flexRadioDefault1">
                CreditCard
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                PayPal
            </label>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit" asp-page-handler="Buy">Pay</button>
        </div>

    </form>



